<br><br>
<div class="card card-container">
    <h2 class='login_title text-center'>Login</h2>
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
        <span id="reauth-email" class="reauth-email"></span>
        <p class="input_title">Email</p>
        <input type="email" id="inputEmail" class="login_box" formControlName="email" required autofocus>

        <p class="input_title">Password</p>
        <input type="password" id="inputPassword" class="login_box" formControlName="password" required>

        <button class="btn btn-lg btn-primary" type="submit">Login</button>
        <div class="form-group mt-3">
            <p>
                Create an account? <a routerLink="/signup"> Register </a>
            </p>
        </div>
        <div class="alert alert-danger" *ngIf="login_error" role="alert">
            <span class="alert-link glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            <span class="alert-link"> Invalid Email or Password!</span>
        </div>
    </form>
</div>